{erl_opts, [debug_info]}.
{shell, [{apps, [
    inets,
    ssl,
    bombinaid,
    kernel,
    stdlib,
    cowboy
]}]}.

{deps, [
    {cowboy, {git,"https://github.com/ninenines/cowboy.git", {tag, "2.2.0"}}},
	{jiffy, {git,"https://github.com/davisp/jiffy.git", {branch, "master"}}}
]}.

{relx, [{release, { bombinaid, "0.0.1" },
         [bombinaid,
          inets,
          ssl,
          sasl,
          cowboy
          ]},

        {dev_mode, true},
        {include_erts, true},

        {extended_start_script, true}]
}.
