doctype html
html(lang="en")
    head
        title Bombinaid.com
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    body
        #root Loading...
    script(src='/assets/js/app.js')
